html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #4f6d7a;
    color: beige;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #4f6d7a;
    border-radius: 1rem;
    z-index: 100;
    font-family: "IBM Plex Mono";
    box-shadow: 2px 2px 8px black;
    width: 570px;
    height: 280px;
}

#star-fall {
    background: none;
    border: none;
    position: absolute;
    font-family: "IBM Plex Mono";
    font-style: italic;
    z-index: 100;
    color: beige;
    cursor: pointer;
    top: 0.5rem;
    left: 0.5rem;
}

.separator {
    width: 2px;
    background-color: beige;
    align-self: stretch;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

ul li:not(:last-child) {
    margin-bottom: 0.75rem;
}

ul li .list-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

ul li .list-container:hover .list-marker {
    background-color: rebeccapurple;
}

ul li .list-container:hover a {
    color: rebeccapurple;
}

ul li .list-marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: beige;
    transition: background-color ease 0.3s;
}

ul li a {
    all: unset;
    font-size: 1rem;
    transition: ease 0.3s;
}
