html {
    box-sizing: border-box;
}

body {
    width: 1024px;
    margin: 0 auto;
    background-color: #4f6d7a;
    color: beige;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
