html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #4f6d7a;
    color: beige;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container-large {
    position: absolute;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #4f6d7a;
    border-radius: 1rem;
    z-index: 100;
    font-family: "IBM Plex Mono";
    box-shadow: 2px 2px 8px black;
    width: 570px;
    height: 280px;
}

#container-large .list a {
    cursor: pointer;
}

#container-large .separator {
    width: 2px;
    background-color: beige;
    align-self: stretch;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#container-large .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#container-large .list a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: color 0.25s ease;
}

#container-large .list a:hover {
    color: rebeccapurple;
}

#container-large.fade-out {
    animation: 0.25s linear fade-out forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#container-small {
    font-family: "IBM Plex Mono";
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    z-index: 100;
    opacity: 0;
}

#container-small .list {
    display: flex;
    gap: 0.5rem;
}

#container-small h1 {
    font-size: 1.5rem;
}

#container-small .separator {
    width: 2px;
    background-color: beige;
    align-self: stretch;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

#container-small.fade-in {
    animation: 0.25s linear fade-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon {
    width: 2rem;
    height: 2rem;
}

#star-fall {
    background: none;
    border: none;
    position: absolute;
    font-family: "IBM Plex Mono";
    font-style: italic;
    z-index: 100;
    color: beige;
    cursor: pointer;
    top: 0.5rem;
    left: 0.5rem;
}
